Source: ros-eloquent-soss-ros2-test
Section: misc
Priority: optional
Maintainer: Grey <grey@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-eloquent-ament-cmake, ros-eloquent-geometry-msgs, ros-eloquent-nav-msgs, ros-eloquent-soss-core, ros-eloquent-soss-mock, ros-eloquent-soss-ros2, ros-eloquent-soss-rosidl, ros-eloquent-test-msgs, ros-eloquent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-soss-ros2-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-eloquent-geometry-msgs, ros-eloquent-nav-msgs, ros-eloquent-soss-core, ros-eloquent-soss-mock, ros-eloquent-soss-ros2, ros-eloquent-soss-rosidl, ros-eloquent-test-msgs, ros-eloquent-ros-workspace
Description: The SOSS package to test ros2
