Source: ros-foxy-soss-rosidl
Section: misc
Priority: optional
Maintainer: Grey <grey@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libyaml-cpp-dev, ros-foxy-ament-cmake, ros-foxy-rosidl-parser, ros-foxy-soss-core, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-soss-rosidl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-rosidl-parser, ros-foxy-soss-core, ros-foxy-ros-workspace
Description: The SOSS package for the rosidl
